extends ../layout

block content
  .container
    .row
      .col-sm-4
        h3 Checkout Item Confirmation: 
        h4 Title: #{wanted_textbook.title} 
        h4 Author: #{wanted_textbook.author}
        h4 Edition: #{wanted_textbook.edition}
        h4 Price: #{wanted_textbook.price}
        a(href="/textbook/#{wanted_textbook._id}") Go back to see detail
      .col-sm-8
        h1 Please choose your trade method
        h4 1. I want to pay for this book
        if sessionuser.role > 10
          a(href="/regular/user/profile/#{wanted_textbook.userId}") Click here to send the seller a Message
        else
          a(href="/regular/user/profile/#{wanted_textbook.userId}") Click here to send the seller a Message
           
        h4 2. I want to choose one of my own book to trade
        table.table.table-hover.table-bordered
          thead
            tr
              th Subject
              th Title
              th Author
              th Course
              th Edition
              th Price
              th View
              th 
          tbody  
            each item in textbooks
              tr(class="item-id-#{item._id}")
                if item.subject
                  td #{item.subject.name}
                else 
                  td N/A
                td #{item.title}
                td #{item.author}
                td #{item.course}
                td #{item.edition}
                td #{item.price}
                td: a(href="/textbook/#{item._id}") View
                td
                  a.btn.btn-primary(href="/traderequest/make?rqt=#{wanted_textbook._id}&offt=#{item._id}", role="button") Choose this book
 
  script(src="/js/list.js")       
