extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th User's Email
            th User's Name
            th Last Edit
            th View Profile
        tbody
          each item in users
            tr(class="item-id-#{item._id} clickable-row", data-href="/regular/user/profile/#{item._id}")
              td #{item.email}
              td #{item.name}        
              td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
              td: a(href="/regular/user/profile/#{item._id}") View
  script(src="/js/list.js")    
